/* IIHT specific styles */
@font-face {
  font-family: "Geoslab-Light";
  src: url(../fonts/geoslab703-lt-bt-light.ttf);
}

@font-face {
  font-family: "Geoslab-XBold";
  src: url(../fonts/geoslab703-xbd-bt-extra-bold.ttf);
}

body {
  font-family: "Geoslab-Light";
}

.font-geolight {
  font-family: "Geoslab-Light";
}

#fillerTop {
  height: 85%;
  vertical-align: bottom;
}

#motto {
  padding: 5px 0;
  border-top: 2px solid #929BC2;
  border-bottom: 2px solid #929BC2;
  letter-spacing: -1.5px;
}

#motto h2 {
  color: #929BC2;
}

#organisation {
  font-size: 3.5em;
  color: #2A3A87;
  font-family: "Geoslab-Light";
  font-weight: 700;
}

#contentBG {
  text-align: center;
  padding-top: 200px;
  background: #1c7abd;
}

#catchphrase h2 {
  font-size: 7em;
  letter-spacing: 2.5px;
  font-family: "Geoslab-XBold";
}

.text-navyblue {
  color: #223A82;
}

.bg-navyblue {
  background-color: #223A82;
}

.bg-lightblue {
  background-color: #1DADE2;
}

.shadow-navyblue {
  /*            text-shadow: 5px  3px 5px #223A82;*/
}

.shadow-lightblue {
  /*            text-shadow: 5px  3px 5px #1DADE2;*/
}

.text-lightblue {
  color: #1DADE2;
}

.bluetile{
  width:200px;
  height:200px;
  border-radius:10px;
}

#search .fa {
  background: #FEDF15;
  padding: 4px;
  border-radius: 15px 0 0 15px;
  vertical-align: top;
  padding-left: 5px;
}

#search input {
  background: #FEDF15;
  border-radius: 0;
  border: none;
  border-left: 3px solid #1D3F89;
  padding-top: 5px;
  height: 22px;
  margin-left: 0;
  padding-bottom: 5px;
}

.contact-phone{
  bottom:22px;
  right:0;
}

.contact-phone .fa {
  box-shadow: 2px 0 5px #A8A7A7;
  position: absolute;
  left: -23px;
  top: -2px;
}

.contact-phone span {
  padding: 5px;
  font-size: 0.9em;
  padding-left: 10px;
}

#mainDivider {
}

#footer {
  background: #243C82;
  min-height: 100px;
  margin-top: 40px;
}

.height-100 {
  height: 100%;
}

.navbar {
  background: #243C82;
  color: #FFFFFF;
  min-height: 100px;
  display: block;
  width: 100%;
  height: 6.5rem;
  z-index: 99;
}

.navbar #links {
  bottom: 60px;
  margin-left: 140px;
}

.navbar #links a {
  color: #FFFFFF;
}

.navbar #links a:hover {
  color: #FFFFFF;
}

.navbar #links span + span {
  margin-left: 50px;
}

/* Utility classes */
.action {
  cursor: pointer;
}

.margin-top-none {
  margin-top: 0;
}

.margin-top {
  margin-top: 10px;
}

.margin-top-l {
  margin-top: 20px;
}

.margin-top-xl {
  margin-top: 50px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-left {
  margin-left: 10px;
}

.margin-left-l {
  margin-left: 20px;
}

.margin-right {
  margin-right: 10px;
}

.bgap {
  padding-bottom: 10px;
}

.padding {
  padding: 10px;
}

.tgap {
  padding-top: 10px;
}

.center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-white{
  color: #FFFFFF;
}

.align-top {
  vertical-align: top;
}

.border {
  border: 1px solid #e5e5e5;
}

.border-top{  
  border-top: 10px solid #24A9E1;
}

.border-bottom{
  border-bottom: 10px solid #223A82;
}

.border-top-lightblue{
  border-top: 10px solid #26AADB;
}

.border-bottom-lightblue{
  border-bottom: 10px solid #26AADB;
}

.bg-white{
  background: #FFFFFF;
}

.bg-pale {
  background: #efefef;
}

.btn-fa {
  line-height: 2;
}

.bg-yellow {
  background: #FEDF15;
}

.text-black {
  color: #333;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.absolute.absolute-center {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/*  Font classes */
.font-l {
  font-size: 1.2em;
}

.font-xl {
  font-size: 1.4em;
}

.font-xxl {
  font-size: 1.6em;
}

.font-s {
  font-size: .7em;
}

.font-2halfx {
  font-size: 2.5em;
}

.font-bold {
  font-weight: 700;
}

.font-2x{
  font-size: 2em;
}

.font-3x{
  font-size: 3em;
}

.divider{
    height: 1px;
    background-color: #42a5f5;
    margin: 10px 0;
}
.divider.divider-thick{
    height: 2px;
    background-color: #42a5f5;
    margin: 10px 0;
}
.underline{
    border-bottom: 1px solid #e5e5e5; 
    margin-bottom: 2rem;
}

.circle-icon{
    background: aqua;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    line-height: 1.3;
}

.card{
    background: #fff;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #eee;
}

.panel{
    background: #fff;
    margin-top: 10px;
    border: 1px solid #eee;
}

.panel .panel-heading{
    background: #64C1DE;
    padding: 10px;
    color: #333;
}

.panel .panel-body{
    padding-left: 10px;
    padding-right: 10px;

}

.panel .panel-heading a{
    color: #333;
}



/* Generic css */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  /*background: #F8F8F8;                */
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  /*background: #f5f5f5;*/
}

a.button:hover {
  text-decoration: none;
}

.container {
  max-width: 1100px;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
}

.content {
  padding-top: 80px;
}

#company {
  background: #FFF;
  width: 400px;
  height: 140px;
  box-shadow: 0 5px 15px #e5e5e5;
  text-align: center;
  border-radius: 0 0 5px 5px;
}

.circle-yellow {
  width: 30px;
  height: 30px;
  background: #FEDF15;
  z-index: 9;
  border-radius: 100%;
  text-align: center;
}

/* Custom bullet list */
ul.bullet {
    list-style: none;
    padding:0;
    margin:0;
}

ul.bullet li { 
    padding-left: 1em; 
    text-indent: -.7em;
}

ul.bullet li:before {
    content: "• ";
    color: #223A82; /* or whatever color you prefer */
}
